body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('BG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}